<!-- #Damian Wasilewicz
#SoftDev1 pd6
#K #26: Getting More REST
#2018-11-15-->
<!DOCTYPE html>
<html>
  <title>Numbers</title>
    <head>
      <center><h1>Now there's three of them!</h1></center>
    </head>
    <body>
      <center><p>Last but not least, we have some cats from The Cat API as documented by Tina Wong!</p></center>
      <center><p><b>To go back to the first API, click <a href = "/"> here!</a></b></p></center>
      <!-- loads catpic from The Cat API-->
      <center><img src = {{pic}} ></center>
    </body>
</html>
