<!-- #Damian Wasilewicz
#SoftDev1 pd6
#K #26: Getting More REST
#2018-11-15-->
<!DOCTYPE html>
<html>
  <title>Cats</title>
    <head>
      <center><h1>Now there's three of them!</h1></center>
    </head>
    <body>
      <center><p>Next up, we got some trivia about a random number from the Numbers API documented by Peter Cwalina!</p></center>
      <center><p><b>To see the third API, click <a href = "/cats">here!</a></b></p></center>
      <!-- loads trivia from Numbers API-->
      <center><b>Trivia:</b> {{num}}</center>
    </body>
</html>
