<!-- #Damian Wasilewicz
#SoftDev1 pd6
#K #25: Getting More REST
#2018-11-14-->
<!DOCTYPE html>
<html>
  <title>jService</title>
    <head>
      <center><h1>What Clemson?</h1></center>
    </head>
    <body>
      <center><p>Here's a sample breakdown of a random jeopardy question - </p></center>
        <!--loads question from api-->
      <center><b>Question:</b>{{question}}</center>
      <br>
      <br>
      <!--loads answer from api-->
      <center><b>Answer:</b>{{answer}}</center>
      <br>
      <br>
      <!--loads airdate from api-->
      <center><b>AirDate of episode on which question appeared:</b>{{airdate}}</center>
      <br>
      <br>
      <!--loads category from api-->
      <center><b>Category:</b>{{category}}</center>
      <br>
      <br>
      <!--loads value from api-->
      <center><b>Difficulty (how many points it was worth):</b>{{difficulty}}</center>
    </body>
</html>
