<!-- #Damian Wasilewicz
#SoftDev1 pd6
#K #26: Getting More REST
#2018-11-15-->
<!DOCTYPE html>
<html>
  <title>Dogs</title>
    <head>
      <center><h1>Now there's three of them!</h1></center>
    </head>
    <body>
      <center><p>First up, here's a lovely, randomly generated picture of a dog using the Dog API that Vincent Lin documented: </p></center>
      <center><p><b>To see the second cool API, click <a href = "/numbers">here!</a></b></p></center>
        <!--loads image from Dog API-->
      <center><img src = {{pic}}></center>
    </body>
</html>
